* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #fbfbfb;
    font-family: Arial, Helvetica, sans-serif;
}
#container {
    position: relative;
    width: 500px;
    height: 200px;
    border: 3px solid #0c6472;
    margin: 0 auto;
}
#ball {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(255, 136, 0); 
    border-radius: 50%;
    border: #000000 5px solid;
}
main {
    display: flex;
    flex-direction: row;
    justify-content:  center;
    align-items: center;
    width: auto;
    height: 100%;
    position: relative;
}

button {
    position: relative;
    bottom: 0;
    background-color: #000;
    text-align: center;
    color: #fff;
    width: 127px;
    height: 50px;
    cursor: pointer;
    border: 3px solid #ffffff;
    font-size: 15px;
    border-style: outset;


}
